# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
sites/all/themes/conectate/node_modules
conect/file/uploads
conect/application/config/database.php




sites/default/default.settings.php

sites/all/themes/conectate/npm-debug.log
